/* Universal Styles */
*{
    margin: 0;
    padding: 0;
}
.body-area{
    max-width: 1320px;
    margin: 0 auto;
}
.primary-font{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.secondary-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
.header-text{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.sec-area{
    margin-top: 120px;
}
.btn-primary{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background-color:#FF0000;
}
.text-des{
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 22px;
}

/* Banner styles */
.banner{
    height: 600px;
    margin-top: 50px;
    background: url(images/Banner\ Image.png), linear-gradient(#070211, #07021100);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
}
.banner-title{
    color: #FFFFFF;
    font-size: 32px;
}

/* Offer style */
.offer-section {
    text-align: center;
}
.offer-heading{
    font-size: 88px;
    color: #FF0000;
    font-weight: 800;
}
.offer-subheading{
    font-size: 24px;
    color: #FF0000;
    font-weight: 500;
    letter-spacing: 0%;
    margin-top: 50px;
}
.offer-title{
    font-size: 48px;
    color: #070211;
    font-weight: 700;
    letter-spacing: 0%;
    margin: 16px 0 0px 0;
}
.offer-section img{
    margin-top: 50px;
}

/* Welcome Style */
.wel-sec{
    height: 600px;
    margin-top: 50px;
    background: url(images/Vectorrr.png), linear-gradient(to right,#070211, #07021100);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    /* text-align: center; */
    border-radius: 16px;
    padding: 0px 125px;
}
.wel-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 125px;
}
.wel-columns-1{
    width: 70%;
}
.wel-columns-2{
    width: 30%;
}
.wel-header{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 11px;
}
.wel-para{
    margin-top: 25px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
}
.wel-link{
   font-size: 20px; 
   color: #FFFFFF;
   text-transform: uppercase;
   font-weight: 700;   
}
.wel-columns-1 a{
   text-decoration: none;
}


/* Info Section */
.info-sec{
    background: linear-gradient(to bottom, #FFE7E7, #ff000000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 385px;
    border-radius: 16px;
    /* opacity: 10%; */
    text-align: center;
}
.info-items{
    margin-bottom: 50px;
}
.info-items h3{
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    line-height: 56px;
}
.info-items h3 span{
    font-size: 32px;
    font-weight: 600;
    color: #FF0000;
    line-height: 56px;
}


/* Coming Soon Section */
.cmn-soon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.cmn-soon-col{
    width: 33%;
}
.cmn-img{
    padding: 50px;
    border: 15px solid #FF0000;
    border-radius: 50%;
}
.cmn-year{
    color: #FF0000;
    font-size: 48px;
    font-weight: 700;
}
.col-no-3{
    margin-left: 115px;
    margin-top: 100px;
}
.col-no-3 img{
    margin-top: 40px;
}


/* Holidays Sale Styles */
.holiday-sale{
    text-align: center;
    /* padding: 0px 126px; */
}
.holiday-sale-subtitle{
    font-size: 24px;
    font-family: 400;
    text-transform: uppercase;
    color: #070211;
    margin-bottom: 16px
}
.holiday-sale-title{
    font-size: 72px;
    font-family: 900;
    color: #070211;
    margin-bottom: 28px;
}
.holiday-sale-title span{
    font-size: 72px;
    font-family: 900;
    color: #FF0000;
}
.holiday-sale-images{
    width: 100%;
    margin-top: 65px;
}
.elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
/* .element img{
    width: 100%;
}
.element-1{
    position:relative;
    bottom:-250px;
} */
.element-2{
    margin-bottom: 300px;
}
.holiday-sale-images{}

