/* Universal Styles */
*{
    margin: 0;
    padding: 0;
}
.body-area{
    max-width: 1320px;
    margin: 0 auto;
}
.primary-font{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared styles */
.header-text{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 800;
    line-height: 95px;
}


/* Banner styles */
.banner{
    height: 600px;
    margin-top: 50px;
    background: url(images/Banner\ Image.png), linear-gradient(#070211, #07021100);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
}
.banner-title{
    color: #FFFFFF;
    font-size: 32px;
}